<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Q-Eventos</title>

    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/app.css"/>

</head>

<body>

<!-- body content here -->

<!-- TOP-NAV BAR -->
<div class="fixed contain-to-grid">

    <nav class="top-bar">

        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="#">
                        <img src="img/logo.svg" alt="Qeventos">
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a>
            </li>
        </ul>

        <section class="top-bar-section">

            <!-- Right Nav Section -->
            <div class="right">

                <ul>
                    <li>
                        <a href="#">Funcionalidades</a>
                    </li>
                    <li>
                        <a href="#">Preço</a>
                    </li>
                    <li>
                        <a href="/login" class="ghost-btn">Entrar</a>
                    </li>
                </ul>
            </div>

        </section>
    </nav>
</div>
<!-- END TOP-NAV BAR -->

<!-- Headline section -->
<div class="headline">

    <div class="row">
        <div class="large-12 columns">
            <h1>Q-Eventos tens <br/>na agenda?</h1>

            <p class="lead">Divulga o teu próximo evento de
                <br/>forma simples e gratuíto.</p>
            <i class="fi-video"></i>
        </div>
    </div>
    <div class="register-form">
        <div class="row">
            <div class="columns large-9 small-centered">
                <form action="#">
                    <div class="columns large-4">
                        <input type="text" placeholder="nome">
                    </div>
                    <div class="columns large-4">
                        <input type="text" placeholder="@email">
                    </div>
                    <div class="columns large-4">
                        <a href="/signup" class="button success radius">Nova Conta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!--End of Headline section-->


<!-- Features section -->
<div class="features-items">
    <div class="row">
        <div class="columns large-4">
            <div class="feature-item">
                <img src="img/ic-divulgar.svg" alt="Divulgar"/>
                <h4> Divulgar</h4>

                <p>Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin
                    coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui.</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="feature-item">
                <img src="img/ic-eticket.svg" alt="E-ticket"/>
                <h4>E-ticket</h4>

                <p>Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin
                    coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui.</p>
            </div>
        </div>
        <div class="columns large-4">
            <div class="feature-item">
                <img src="img/ic-feedback.svg" alt="Feedback"/>
                <h4>Feedback</h4>

                <p>Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin
                    coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui.</p>
            </div>
        </div>
    </div>
</div>
<!-- End of Features section -->


<!--Last events slider -->
<div class="event-slider">
    <div class="row">
        <div class="columns large-6 small-centered">

            <div class="events">
                <h3>Eventos divulgados</h3>

                <div class="slider single-item">
                    <div>
                        <div class="event">
                            <div class="columns large-6">
                                <div>
                                    <img class="evento-img" src="img/evento.svg">
                                </div>

                            </div>
                            <div class="columns large-6">

                                <strong>Grupo arrumba</strong>

                                <p>Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard
                                    single-origin coffee, twee 90's PBR.</p>

                                <a href="" class="radius button success">Saber mais</a>

                                <div class="row">
                                    <div class="columns large-6">
                                        <p class="ic-evento-info">
                                            <img class="ic-evento-info" src="img/ic-calendar.svg">Agosto</p>
                                    </div>
                                    <div class="columns large-6">
                                        <p class="ic-evento-info">
                                            <img src="img/ic-marker.svg">Luanda</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <h3>2</h3>
                    </div>
                </div>
                <!--       <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div> -->
            </div>
        </div>
    </div>
</div>
<!--Last events slider -->


<!-- <div class="promo-container">
<div class="promo-img"> </div>
<div class="promo">
<h2>Faz-te a estrada.<br> Começa a divulgar.</h2>
<a href="" class="button success">Experimente</a>
</div>
</div> -->

<!-- Promo Section -->
<div class="promo-container">
    <div class="row">
        <div class="columns large-12">
            <div class="promo">
                <h2>Faz-te a estrada.<br> Começa a divulgar.</h2>
                <a href="" class="button success radius">Experimente</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Promo Section -->

<!-- footer -->
<div class="footer">
    <div class="row">
        <div class="foot-links">
            <div class="columns large-4">
                <ul>
                    <li>
                        <strong>Produto</strong>
                    </li>
                    <li>
                        <a href="">Funcionalidades</a>
                    </li>
                    <li>
                        <a href="">Preço</a>
                    </li>
                    <li>
                        <a href="">Ajuda</a>
                    </li>
                </ul>
            </div>

            <div class="columns large-4">
                <ul>
                    <li>
                        <strong>Empresa</strong>
                    </li>
                    <li>
                        <a href="">Quem Somos</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Contacta-nos</a>
                    </li>
                </ul>
            </div>

            <div class="columns large-4">

                <ul>
                    <li>
                        <strong>Siga-nos</strong>
                    </li>
                    <li>
                        <div class="social-ic">
                            <div class="row">
                                <div class="colums large-3">
                                    <i class="fi-social-facebook"></i>
                                </div>
                                <div class="colums large-3"></div>
                                <div class="colums large-3"></div>
                            </div>
                        </div>

                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>


<!-- end of footer -->


<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/foundation/js/foundation.min.js"></script>
<script src="components/slick.js/slick/slick.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).ready(function () {
        $('.single-item').slick()
    });
</script>

</body>

</html>