<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
        {{title}}
    </title>

    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="components/slick.js/slick/slick.css">
    <link rel="stylesheet" href="css/app.css"/>
    <script src="components/modernizr/modernizr.js"></script>
</head>
<body>
{{{body}}}

<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/foundation/js/foundation.min.js"></script>
<script src="components/slick.js/slick/slick.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).ready(function () {
        $('.single-item').slick()
    });
</script>
</body>
</html>