<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="components/Bootflat/css/site.min.css"/>
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="components/fuelux/dist/css/fuelux.min.css"/>
    <link rel="stylesheet" href="components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css"/>

</head>

<body>

<!-- top nav bar -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- TODO atualizar para / -->
        <a class="navbar-brand" href="/">Q-Eventos</a>

        {{#if user }}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="fa fa-2x fa-user"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="top-bar-link">
                                <i class="fa fa-cog menu-ic"></i>Conta
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-bar-link">
                                <i class="fa fa-question-circle menu-ic"></i>Suporte
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="top-bar-link">
                                <i class="fa fa-sign-out menu-ic"></i>Sair
                            </a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#">
                        <i class="fa fa-2x fa-bell"></i>
                        <span class="badge badge-warning">6</span>
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>
</nav>
<!-- end top nav bar -->

{{{body}}}

<!-- end event list -->


<script src="components/Bootflat/js/site.min.js"></script>
<script src="components/fuelux/dist/js/fuelux.min.js"></script>
<script src="components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="js/site.js"></script>

<script>
    $(document).ready(qeventos.init());
</script>


</body>
</html>