<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h5>Criar novo evento</h5>
            </div>
            <div class="fuelux">
                <div id="myWizard" class="wizard">
                    <ul class="steps">
                        <li data-step="1" data-name="q-evento" class="active">
                            <span class="badge">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                            Q-evento ?<span class="chevron"></span>
                        </li>
                        <li data-step="2">
                            <span class="badge">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            Data & Local<span class="chevron"></span>
                        </li>
                        <li data-step="3">
                            <span class="badge"><i class="fa fa-plus"></i></span>Info Complementar
                            <span class="chevron"></span>
                        </li>
                        <li data-step="4">
                            <span class="badge"><i class="fa fa-share-alt"></i></span>Publicar
                            <span class="chevron"></span>
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-default btn-prev">
                            <span class="fa fa-arrow-left"></span>Anterior
                        </button>
                        <button type="button" class="btn btn-default btn-next" data-last="Guardar">Próximo
                            <span class="fa fa-arrow-right"></span>
                        </button>
                    </div>
                    <form id="createEvent" action="/novoevento" method="post">
                        <div class="step-content">
                            <div class="step-pane active sample-pane alert" data-step="1">
                                <h5>Informação do evento</h5>

                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="eventName" class="col-sm-2 control-label">Nome:</label>

                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control" id="eventName"
                                                               name="name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="eventCategory"
                                                           class="col-sm-2 control-label">Categoria:</label>

                                                    <div class="col-sm-5">
                                                        <select name="category" id="eventCategory"
                                                                class="form-control">
                                                            {{#each categories }}
                                                                <option value='{{catKey}}'>{{catVal}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="desciption">
                                                <div class="form-group">
                                                    <label for="eventDescription"
                                                           class="col-sm-2 control-label">Descrição:</label>

                                                    <div class="col-sm-5">
                                                        <textarea rows="5" class="form-control"
                                                                  name="description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="eventImg" class="col-sm-2 control-label">Imagem:</label>

                                                    <div class="col-sm-5">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">

                                                            <!--TODO remover style do thumbnail  -->

                                                            <div class="fileinput-new thumbnail"
                                                                 style="width: 200px; height: 150px;">
                                                                <img src="http://placehold.it/190x140" alt="...">
                                                            </div>
                                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                                 style="max-width: 200px; max-height: 150px;">
                                                            </div>
                                                            <div>
                                                                               <span class="btn btn-default btn-file">
                                                                                   <span class="fileinput-new">Selecionar imagem</span>
                                                                                   <span class="fileinput-exists">Atualizar</span>
                                                                                   <input type="file" name="..."></span>
                                                                <a href="#" class="btn btn-default fileinput-exists"
                                                                   data-dismiss="fileinput">
                                                                    Cancelar
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-pane sample-pane alert" data-step="2">
                                <h5>Data e local da realização do evento</h5>

                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="initilaDate"
                                                           class="col-sm-2 control-label">
                                                        Data Início:</label>

                                                    <div class="col-sm-4">
                                                        <input type="date" class="form-control"
                                                               id="initilaDate" name="startDate">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="initialTime" class="col-sm-1 control-label">
                                                        às
                                                    </label>

                                                    <div class="col-sm-2">
                                                        <input type="time" class="form-control"
                                                               id="initialTime" name="doorTime">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="endDate"
                                                           class="col-sm-2 control-label">
                                                        Data Fim:</label>

                                                    <div class="col-sm-4">
                                                        <input type="date" class="form-control"
                                                               id="endDate" name="endDate">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="initialTime" class="col-sm-1 control-label">
                                                        às
                                                    </label>

                                                    <div class="col-sm-2">
                                                        <input type="time" class="form-control"
                                                               id="initialTime">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="eventPlace"
                                                           class="col-sm-2 control-label">
                                                        Local:</label>

                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="eventPlace"
                                                               name="location">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="streetAdress"
                                                           class="control-label sr-only">Endereço
                                                    </label>

                                                    <div class="col-sm-offset-2 col-sm-7">
                                                        <input type="text" class="form-control"
                                                               id="streetAdress"
                                                               placeholder="Endereço" name="addressLine1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="streetAdress2"
                                                           class="control-label sr-only">Endereço
                                                    </label>

                                                    <div class="col-sm-offset-2 col-sm-7">
                                                        <input type="text" class="form-control"
                                                               id="streetAdress2"
                                                               placeholder="Endereço (continuação)" name="addressLine2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">
                                                    <label for="city"
                                                           class="control-label sr-only">Cidade
                                                    </label>

                                                    <div class="col-sm-offset-2 col-sm-4">
                                                        <input type="text" class="form-control"
                                                               id="city"
                                                               placeholder="Cidade" name="city">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control"
                                                               id="locality"
                                                               placeholder="Estado" name="locality">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div>
                                                <div class="form-group">

                                                    <label for="postalCode"
                                                           class="control-label sr-only">Código Postal
                                                    </label>

                                                    <div class="col-sm-offset-2 col-sm-4">
                                                        <input type="text" class="form-control"
                                                               id="postalCode"
                                                               placeholder="Código Postal" name="postalCode">
                                                    </div>
                                                    <label for="postalCode"
                                                           class="control-label sr-only">País
                                                    </label>

                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control"
                                                               id="country"
                                                               placeholder="País" name="country">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-pane sample-pane alert" data-step="3">
                                <h5>Informação adicional a cerca do evento</h5>

                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="panel-group panel-group-lists" id="accordion" role="tablist"
                                                 aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseOne" aria-expanded="true"
                                                               aria-controls="collapseOne">
                                                                Bilhetes
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in"
                                                         role="tabpanel"
                                                         aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <div class="col-sm-4">

                                                                        <select id="ticketType"
                                                                                class="form-control">
                                                                            <option value="">Tipo</option>
                                                                            <option value="Normal">Normal</option>
                                                                            <option value="Homem">Homem</option>
                                                                            <option value="Criança">Criança</option>
                                                                            <option value="VIP">VIP</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <input
                                                                                    type="text"
                                                                                    id="ticketValue"
                                                                                    class="form-control"
                                                                                    placeholder="Preço"
                                                                                    aria-describedby="currency"
                                                                                    >
                                                                            <span class="input-group-addon"
                                                                                  id="currency">Kz</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                        <a id="addTicket"
                                                                           class="btn btn-default btn-sm"
                                                                           href="#">
                                                                            <span class="fa fa-plus"></span></a>
                                                                    </div>
                                                                    <input type="text" id="ticket" name="ticket"
                                                                           class="hidden"/>

                                                                </div>
                                                            </div>
                                                            <!-- TODO remover style  do documento -->
                                                            <div class="row" style="margin-top: 20px">
                                                                <div class="col-sm-8">
                                                                    <div class="col-sm-12">
                                                                        <div>
                                                                            <div class="pillbox"
                                                                                 data-initialize="pillbox"
                                                                                 id="myPillbox">
                                                                                <ul class="clearfix pill-group"
                                                                                    style="min-height:25px">
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               href="#collapseTwo" aria-expanded="false"
                                                               aria-controls="collapseTwo">
                                                                Collapsible Group Item #2
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse"
                                                         role="tabpanel"
                                                         aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus
                                                            terry richardson ad squid. 3 wolf moon officia aute, non
                                                            cupidatat
                                                            skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                            eiusmod.
                                                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                            squid
                                                            single-origin coffee nulla assumenda shoreditch et. Nihil
                                                            anim
                                                            keffiyeh helvetica, craft beer labore wes anderson cred
                                                            nesciunt
                                                            sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                            Leggings
                                                            occaecat craft beer farm-to-table, raw denim aesthetic synth
                                                            nesciunt you probably haven't heard of them accusamus labore
                                                            sustainable VHS.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               href="#collapseThree" aria-expanded="false"
                                                               aria-controls="collapseThree">
                                                                Collapsible Group Item #3
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse"
                                                         role="tabpanel"
                                                         aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                            accusamus
                                                            terry richardson ad squid. 3 wolf moon officia aute, non
                                                            cupidatat
                                                            skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                            eiusmod.
                                                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                            squid
                                                            single-origin coffee nulla assumenda shoreditch et. Nihil
                                                            anim
                                                            keffiyeh helvetica, craft beer labore wes anderson cred
                                                            nesciunt
                                                            sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                            Leggings
                                                            occaecat craft beer farm-to-table, raw denim aesthetic synth
                                                            nesciunt you probably haven't heard of them accusamus labore
                                                            sustainable VHS.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-pane sample-pane alert" data-step="4">
                                <h5>Publicar evento</h5>

                                <div class="well">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="http://placehold.it/200x200" alt="...">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="event-data">
                                                <strong>Evento:</strong>
                                                <span id="step4-event"></span>
                                            </div>
                                            <div class="event-data">
                                                <strong>Data realização:</strong>
                                                <span id="step4-when"></span>
                                            </div>
                                            <div class="event-data">
                                                <strong>Local:</strong>
                                                <span id="step4-where"></span>
                                            </div>
                                            <div class="event-data">
                                                <strong>Bilhetes:</strong>
                                                <span id="step4-ticket"></span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <a href="#" id="publishEvent" class="btn btn-warning">
                                                            <i class="fa fa-share"></i> Publicar evento</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>







