<!-- create event section -->
<div id="createEvent" class="bloc">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">

                {{#if message}}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <text>{{ message }}</text>
                    </div>
                {{/if}}


                <div class="page-header">
                    <h4>Home</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Criar novo evento</h5>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-8 col-sm-offset-3">
                            <form action="/novoevento" class="form-inline">
                                <div class="form-group">
                                    <label for="eventName" class="sr-only">Evento</label>
                                    <input id="eventName" class="form-control" type="text"
                                           placeholder="Nome do evento" name="name"/>
                                </div>
                                <div class="form-group">
                                    <label for="eventCategory" class="sr-only">Categoria</label>
                                    <select name="category" id="eventCategory"
                                            class="form-control">
                                        {{#each categories }}
                                            <option value="{{catKey}}">{{catVal}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Criar evento"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end create event section -->

<!-- event list sections -->
<div class="bloc">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Lista de eventos</h5>
                    </div>
                    <div class="panel-body">
                        <div class="fuelux">
                            <div class="repeater" id="eventListRepeater" data-staticheight="true">
                                <div class="repeater-header">
                                    <div class="repeater-header-left">
                                        <div class="repeater-search">
                                            <div class="search disabled input-group">
                                                <input type="search" class="form-control" placeholder="Procurar">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">
                                                        <span class="fa fa-search"></span>
                                                        <span class="sr-only">Search</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="repeater-header-right">
                                        <div class="btn-group selectlist disabled repeater-filters">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="selected-label"> </span>
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Filters</span>
                                            </button>

                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li data-value="all" data-selected="true" data-property="all">
                                                    <a href="#">Todos Eventos</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li data-value="draft" data-property="status">
                                                    <a href="#">Draft</a>
                                                </li>
                                                <li data-value="archived" data-property="status">
                                                    <a href="#">Archived</a>
                                                </li>
                                                <li data-value="active" data-property="status">
                                                    <a href="#">Active</a>
                                                </li>
                                            </ul>
                                            <input class="hidden hidden-field" name="filterSelection"
                                                   readonly="readonly"
                                                   aria-hidden="true"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="repeater-viewport">
                                    <div class="repeater-canvas"></div>
                                    <div class="loader repeater-loader"></div>
                                </div>

                                <div class="repeater-footer">
                                    <div class="repeater-footer-left">
                                        <div class="repeater-itemization">
                                            <span>
                                                <span class="repeater-start"></span> - <span
                                                    class="repeater-end"></span> de <span
                                                    class="repeater-count"></span> eventos
                                            </span>

                                            <div class="btn-group selectlist dropup" data-resize="auto">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="selected-label"> </span>
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li data-value="10" data-selected="true"><a href="#">10</a></li>
                                                    <li data-value="25"><a href="#">25</a></li>
                                                    <li data-value="50"><a href="#">50</a></li>
                                                </ul>
                                                <input class="hidden hidden-field" name="itemsPerPage"
                                                       readonly="readonly"
                                                       aria-hidden="true" type="text">
                                            </div>
                                            <span>Por página</span>
                                        </div>
                                    </div>
                                    <div class="repeater-footer-right">
                                        <div class="repeater-pagination">
                                            <button type="button" class="btn btn-default btn-sm repeater-prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Página anterior</span>
                                            </button>
                                            <label class="page-label" id="myPageLabel">Página</label>

                                            <div class="repeater-primaryPaging active">
                                                <div class="input-group input-append dropdown combobox dropup">
                                                    <input type="text" class="form-control"
                                                           aria-labelledby="myPageLabel">

                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control repeater-secondaryPaging"
                                                   aria-labelledby="myPageLabel">
                                            <span>de <span class="repeater-pages"></span></span>
                                            <button type="button" class="btn btn-default btn-sm repeater-next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Próxima página</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end event list -->

