<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        {{#if  message.length  }}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Entrar</button>
        </form>
        <hr>
        <p>Ainda não tem uma conta? <a href="/signup">Registar</a></p>

    </div>
</div>

