<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        {{#if message.length  }}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        
        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Palavra-passe</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Registar</button>
        </form>

        <hr>

        <p>Já tem uma conta? <a href="/login">Entrar</a></p>

    </div>

</div>